<div id="component-templates" class="hidden">
  <%= render 'components/header_component_template' %>
  <%= render 'components/paragraph_component_template' %>
  <%= render 'components/image_component_template' %>
  <%= render 'components/video_component_template' %>
  <%= render 'components/container_component_template' %>
  <%= render 'components/columns_component_template' %>
</div>
